:root {
  font-size: 16px;
}

body {
  margin: 0;
}

.main-content {
  display: flex;
}

.navbar {
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
}

i {
  font-size: 2em;
  margin: 0.2em;
}

.hero {
  width: 50vw;
}

.hero img {
  width: 100%;
  height: auto;
}

.login {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

h2 {
  margin: 0;
}
