$hot-pink: #e91e63;
$header-gray: #555555;
$background-gray: #e5e5e5;
$light-hover: #7e7e7e;
$light-button-hover: #e5e5e5;
$light-section-p-color: #999999;
$dark-section-p-color: #fefefe;
$light-overlay: rgba(0, 0, 0, 0.5);
$dark-overlay: rgba(0, 0, 0, 0.7);
$link-color: #23527c;
$blog-color1: #89229b;
$blog-color2: #00bcd4;
$blog-color3: #f44336;
$footer-background-color: #323437;

$main-font-family: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font-family: "Roboto Slab", "Times New Roman", serif;

$box-shadow-hover: 0 14px 26px -12px rgba(233, 30, 99, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
