// To do:
// Get hover on SEE MORE button to work
// Set up homepage links

$hot-pink: #e91e63;
$header-gray: #555555;
$light-hover: #7e7e7e;
$light-button-hover: #e5e5e5;
$light-section-p-color: #999999;
$dark-section-p-color: #fefefe;
$light-overlay: rgba(0, 0, 0, 0.5);
$dark-overlay: rgba(0, 0, 0, 0.7);
$link-color: #23527c;
$blog-color1: #89229b;
$blog-color2: #00bcd4;
$blog-color3: #f44336;
$footer-background-color: #323437;

$main-font-family: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font-family: "Roboto Slab", "Times New Roman", serif;

$box-shadow-hover: 0 14px 26px -12px rgba(233, 30, 99, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);

@mixin test-border($color: red) {
  border: 1px solid $color;
}

@mixin button-standard($border-radius: 30px) {
  font-size: 12px;
  color: white;
  background-color: $hot-pink;
  border: none;
  border-radius: $border-radius;
  padding: 15px 20px;
  &:hover {
    color: $light-button-hover;
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
}

@mixin background-image-standard($url) {
  background-image: $url;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@mixin centered-flex($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin blog-category($color) {
  color: $color;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 10em;
  font-family: $main-font-family;

  .at-top,
  .not-at-top {
    background-color: white;
  }

  nav {
    display: flex;
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 16.5px 8px;
    z-index: 9;
    box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);

    > .nav-wrapper {
      margin: auto;
      display: flex;

      a {
        text-decoration: none;
        color: $header-gray;
      }

      > .left-nav {
        a {
          padding: 10px 15px;
          font-size: 18px;
          font-weight: lighter;
          &:hover {
            color: $light-hover;
          }
        }
      }

      > .right-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        > a {
          font-size: 12px;
          padding: 15px;
          &:hover {
            color: $hot-pink;
          }
        }
        > a:nth-child(1) {
          &:hover {
            color: $light-hover;
          }
        }
        > button {
          @include button-standard;
          font-family: $main-font-family;
          margin-right: 2em;
        }
      }
    }
  }

  .hero-container {
    @include background-image-standard(url(../assets/parallax_1.jpg));
    position: absolute;
    z-index: 3;
    top: 0;
    background-attachment: fixed;
    > .hero-wrapper {
      @include background-image-standard(url(../assets/parallax_2.png));
      > .hero-content {
        @include centered-flex(column);
        width: 100%;
        height: 100%;
        background-color: $light-overlay;
        display: flex;
        position: relative;
        top: 0;
        color: white;
        z-index: 5;

        > h1 {
          font-size: 36px;
          text-wrap: wrap;
          margin-bottom: 10px;
        }

        p {
          font-family: $secondary-font-family;
          font-size: 18px;
          margin-bottom: 50px;
        }

        button {
          @include button-standard(3px);
        }
      }
    }
  }

  .sections-container {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 850px;
    width: 100%;
    z-index: 5;
    background-color: white;
    > .section-wrapper {
      width: 100%;

      > .section-content {
        height: 100%;
        padding-bottom: 7em;
        > .sub-section {
          font-family: $secondary-font-family;

          > img {
            padding-top: 3.5em;
            padding-bottom: 0;
          }

          p {
            font-size: 14px;
            font-weight: lighter;
            font-family: $main-font-family;
            &:nth-child(3) {
              color: $light-section-p-color;
            }
          }
        }
        h2 {
          font-size: 28px;
        }
      }
    }

    > .section-wrapper:nth-child(1) {
      .section-content {
        .sub-section {
          margin: auto;
          max-width: 85vw;
        }
      }
    }

    > .section-wrapper:nth-child(2) {
      @include background-image-standard(url(../assets/contact.jpg));
      color: white;
      background-color: transparent;
      background-attachment: fixed;
      > .section-content {
        padding-bottom: 5.5em;
        background-color: $dark-overlay;
        > .sub-section {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 60px 40px 0px;
          h2 {
            align-self: flex-start;
            margin-bottom: 0;
          }

          p {
            text-align: left;
            font-size: 18px;
            color: $dark-section-p-color;
            padding-bottom: 16px;
            line-height: 1.5;
          }

          img {
            width: 100%;
            align-self: center;
          }
        }
      }
    }

    > .section-wrapper:nth-child(3) {
      @include centered-flex(column);
      padding-top: 30px;
      padding-bottom: 0px;
      .section-content {
        padding-bottom: 0px;
        h2 {
          font-size: 24px;
          font-family: $secondary-font-family;
          margin-bottom: 3em;
        }

        a {
          text-decoration: none;
          h3 {
            font-size: 18px;
            color: black;
            text-decoration: none;
            margin: 0px;
            &:hover {
              opacity: 0.75;
            }
          }
        }

        .sub-section {
          margin-bottom: 7em;
          max-width: 70vw;

          p {
            span {
              color: $link-color;

              &:hover {
                color: $hot-pink;
                cursor: pointer;
              }
            }
          }

          .blog1 {
            @include blog-category($blog-color1);
          }

          .blog2 {
            @include blog-category($blog-color2);
          }

          .blog3 {
            @include blog-category($blog-color3);
          }
        }
      }
    }

    > .section-wrapper:nth-child(4) {
      @include background-image-standard(url(../assets/contact.jpg));
      color: white;
      background-color: transparent;
      > .section-content {
        background-color: $dark-overlay;
      }

      > .section-content {
        padding: 6em 25px 2.5em;
        padding-bottom: 4.2em;

        h2 {
          text-align: left;
          font-family: $secondary-font-family;
          font-size: 24px;
          padding-bottom: 0.7em;
        }

        h3 {
          font-size: 18px;
        }

        i {
          font-size: 36.4px;
        }

        > .sub-section {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .icon-pair {
            display: flex;
            align-items: center;
            gap: 12px;
          }

          h2 {
          }

          p {
            padding-left: 38px;
            margin: 5px 0px;
          }
        }
      }
    }

    > footer {
      @include centered-flex(column);
      background-color: $footer-background-color;
      color: white;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      padding: 32px 0px;
      p {
        padding: 15px;
        margin: 0px;
      }
      .sub-section {
        display: flex;
      }

      .sub-section:nth-child(2) {
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}

// Bigger than 600px wide (activate transparency effect when at top.)
@media (min-width: 768px) {
  body {
    .at-top {
      background-color: transparent;
    }

    .not-at-top {
      background-color: white;
    }

    nav {
      font-size: 30px;
      > .nav-wrapper {
        width: 800px;
        justify-content: space-between;
        > .left-nav {
          a {
          }
        }
      }
    }

    .hero-container {
      > .hero-wrapper {
        > .hero-content {
          > h1 {
            font-size: 67px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    nav {
      > .nav-wrapper {
        width: 1150px;
      }
    }
  }
}
