.card-container {
  width: 300px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  border: 5px dashed $dark;
  border-radius: 5px;
  background-color: #79a08e;
  color: white;
  box-shadow: 5px 5px 5px 1px #4e675b;

  .header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 100px;
      border-radius: 50%;
    }

    .card-title-wrapper {
      width: 150px;
      border-top: 5px solid #556d00;
      border-bottom: 5px solid #556d00;
      border-radius: 10px;
    }
  }

  .description-wrapper {
    border: 1px dotted $dark;
    border-radius: 5px;
    padding: 5px;
  }

  button {
    height: 30px;
    border-radius: 5px;
  }
}
