body {
  margin: 0;
  padding-top: 10em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}
body .at-top,
body .not-at-top {
  background-color: rgb(255, 255, 255);
}
body nav {
  display: flex;
  font-size: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 16.5px 8px;
  z-index: 9;
  box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);
}
body nav .nav-wrapper {
  margin: auto;
  display: flex;
}
body nav .nav-wrapper a {
  text-decoration: none;
  color: #555555;
}
body nav .nav-wrapper .left-nav a {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: lighter;
}
body nav .nav-wrapper .left-nav a:hover {
  opacity: 0.75;
}
body nav .nav-wrapper .right-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
body nav .nav-wrapper .right-nav a {
  font-size: 12px;
  padding: 15px;
}
body nav .nav-wrapper .right-nav a:hover {
  color: #e91e63;
}
body nav .nav-wrapper .right-nav a:nth-child(1):hover {
  opacity: 0.75;
}
body nav .nav-wrapper .right-nav button {
  font-size: 12px;
  color: white;
  background-color: #e91e63;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 2em;
}
body nav .nav-wrapper .right-nav button:hover {
  color: #e5e5e5;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  cursor: pointer;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323437;
  color: white;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding: 32px 0px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
body footer p {
  padding: 15px;
  margin: 0px;
}
body footer .sub-section {
  display: flex;
}
body footer .sub-section:nth-child(2) {
  font-size: 14px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  body nav {
    font-size: 30px;
    padding: 1.2em 0;
  }
  body nav > .nav-wrapper {
    width: 800px;
    justify-content: space-between;
  }
  body footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 9vw;
  }
  body footer .sub-section {
    flex-direction: row;
    padding-right: 18vw;
  }
}
@media (min-width: 1200px) {
  body nav > .nav-wrapper {
    width: 1150px;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 300vh;
}
body .hero-container {
  background-image: url(../../assets/parallax_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  z-index: 3;
  top: 0;
  background-attachment: fixed;
}
body .hero-container > .hero-wrapper {
  background-image: url(../../assets/parallax_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body .hero-container > .hero-wrapper .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  top: 0;
  color: white;
  z-index: 5;
}
body .hero-container > .hero-wrapper .hero-content h1 {
  font-size: 36px;
  text-wrap: wrap;
  margin-bottom: 10px;
}
body .hero-container > .hero-wrapper .hero-content p {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 18px;
  margin-bottom: 50px;
}
body .hero-container > .hero-wrapper .hero-content button {
  font-size: 12px;
  color: white;
  background-color: #e91e63;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
}
body .hero-container > .hero-wrapper .hero-content button:hover {
  color: #e5e5e5;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  cursor: pointer;
}
body .sections-container {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 850px;
  width: 100%;
  z-index: 5;
  background-color: white;
}
body .sections-container > .section-wrapper {
  width: 100%;
}
body .sections-container > .section-wrapper > .section-content {
  height: 100%;
  padding-bottom: 7em;
}
body .sections-container > .section-wrapper > .section-content .sub-section {
  font-family: "Roboto Slab", "Times New Roman", serif;
}
body .sections-container > .section-wrapper > .section-content .sub-section img {
  padding-top: 3.5em;
  padding-bottom: 0;
}
body .sections-container > .section-wrapper > .section-content .sub-section p {
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
body .sections-container > .section-wrapper > .section-content .sub-section p:nth-child(3) {
  color: #999999;
}
body .sections-container > .section-wrapper > .section-content h2 {
  font-size: 28px;
}
body .sections-container > .section-wrapper:nth-child(1) .section-content .sub-section {
  margin: auto;
  max-width: 85vw;
}
body .sections-container > .section-wrapper:nth-child(2) {
  background-image: url(../../assets/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: white;
  background-color: transparent;
  background-attachment: fixed;
}
body .sections-container > .section-wrapper:nth-child(2) > .section-content {
  padding-bottom: 5.5em;
  background-color: rgba(0, 0, 0, 0.7);
}
body .sections-container > .section-wrapper:nth-child(2) > .section-content > .sub-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 60px 40px 0px;
}
body .sections-container > .section-wrapper:nth-child(2) > .section-content > .sub-section h2 {
  align-self: flex-start;
  margin-bottom: 0;
}
body .sections-container > .section-wrapper:nth-child(2) > .section-content > .sub-section p {
  text-align: left;
  font-size: 18px;
  color: #fefefe;
  padding-bottom: 16px;
  line-height: 1.5;
}
body .sections-container > .section-wrapper:nth-child(2) > .section-content > .sub-section img {
  width: 100%;
  align-self: center;
}
body .sections-container > .section-wrapper:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 0px;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content {
  padding-bottom: 0px;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content h2 {
  font-size: 24px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  margin-bottom: 3em;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content a {
  text-decoration: none;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content a h3 {
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 0px;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content a h3:hover {
  opacity: 0.75;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section {
  margin-bottom: 7em;
  max-width: 70vw;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section p span {
  color: #23527c;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section p span:hover {
  color: #e91e63;
  cursor: pointer;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section .blog1 {
  color: #89229b;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section .blog1:hover {
  opacity: 0.75;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section .blog2 {
  color: #00bcd4;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section .blog2:hover {
  opacity: 0.75;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section .blog3 {
  color: #f44336;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
body .sections-container > .section-wrapper:nth-child(3) .section-content .sub-section .blog3:hover {
  opacity: 0.75;
}
body .sections-container > .section-wrapper:nth-child(4) {
  background-image: url(../../assets/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: white;
  background-color: transparent;
  box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content {
  background-color: rgba(0, 0, 0, 0.7);
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content {
  padding: 6em 25px 2.5em;
  padding-bottom: 4.2em;
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content h2 {
  text-align: left;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 24px;
  padding-bottom: 0.7em;
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content h3 {
  font-size: 18px;
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content i {
  font-size: 36.4px;
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content > .sub-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content > .sub-section .icon-pair {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .sections-container > .section-wrapper:nth-child(4) > .section-content > .sub-section p {
  padding-left: 38px;
  margin: 5px 0px;
}

@media (min-width: 768px) {
  html body .hero-container > .hero-wrapper > .hero-content h1 {
    font-size: 67px;
    width: 400px;
    text-align: center;
  }
  html body .at-top > .nav-wrapper > .left-nav > a {
    color: white;
  }
  html body .at-top > .nav-wrapper > .right-nav a {
    color: white;
  }
  html body .not-at-top {
    background-color: white;
  }
  html body nav {
    box-shadow: none;
  }
  html body nav > .nav-wrapper > .left-nav a {
    color: #555555;
  }
  html body nav > .nav-wrapper > .left-nav:hover {
    opacity: 0.75;
  }
  html body nav > .nav-wrapper > .right-nav a {
    color: #555555;
  }
  html body nav > .nav-wrapper > .right-nav a:hover {
    opacity: 0.75;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 3px;
  }
  html body .sections-container {
    top: 46.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 96.5%;
    border-radius: 6px;
  }
  html body .sections-container .section-wrapper:nth-child(1) .section-content {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  html body .sections-container .section-wrapper:nth-child(1) .section-content h2 {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 37px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: self-end;
  }
  html body .sections-container .section-wrapper:nth-child(1) .section-content .sub-section h3 {
    margin: 5px 0px;
  }
  html body .sections-container .section-wrapper:nth-child(1) .section-content .sub-section p {
    padding: 0px 5px;
  }
  html body .sections-container .section-wrapper:nth-child(2) .section-content .sub-section {
    display: grid;
    grid-template-rows: 1f 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    -moz-column-gap: 6em;
         column-gap: 6em;
  }
  html body .sections-container .section-wrapper:nth-child(2) .section-content h2 {
    font-size: 37px;
  }
  html body .sections-container .section-wrapper:nth-child(2) .section-content p {
    padding-right: 2em;
  }
  html body .sections-container .section-wrapper:nth-child(2) .section-content img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }
  html body .sections-container .section-wrapper:nth-child(3) {
    padding: 0 2em;
  }
  html body .sections-container .section-wrapper:nth-child(3) .section-content {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 2em;
         column-gap: 2em;
    max-height: 450px;
  }
  html body .sections-container .section-wrapper:nth-child(3) .section-content .sub-section {
    text-align: left;
    padding: 0 2em;
    margin-bottom: 0;
  }
  html body .sections-container .section-wrapper:nth-child(3) .section-content h2 {
    font-size: 37px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  html body .sections-container .section-wrapper:nth-child(3) .section-content p {
    padding-right: 2em;
  }
  html body .sections-container .section-wrapper:nth-child(4) .section-content h2 {
    padding-left: 10vw;
  }
  html body .sections-container .section-wrapper:nth-child(4) .section-content .sub-section {
    padding-left: 10vw;
  }
  html body .sections-container .section-wrapper .section-content {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media (min-width: 1000px) {
  html body .hero-container .hero-wrapper .hero-content h1 {
    width: 1000px;
  }
}/*# sourceMappingURL=home.css.map */