/* In main.css */

h1 {
  background-color: red;
  color: white;
  font-weight: 900;
}

h1 {
  background-color: blue;
  font-style: italic;
  font-weight: 100;
}

h1 {
  background-color: green;
  text-decoration: underline;
}
