$main-color: #3587a4;
$secondary-color: #acbfa4;
$highlight-color: #d17700;
$light-color: #e2e8ce;
$dark-color: #262626;

$main-font: "Times New Roman", Times, serif;
$header-font: "Pacifico", cursive;
