:root {
  --primary-font: "Arial", sans-serif;
  --base-color: lightblue;
  --accent-color: darkblue;
  --thick-border: 10px solid var(--accent-color);
  --gradient-theme: linear-gradient(var(--base-color), var(--accent-color));
}

* {
  margin: 0;
}

.hero-img {
  background: var(--gradient-theme);
  background-color: var(--base-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-msg-con {
  border: var(--thick-border);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  font-family: var(--primary-font);
}

.hero-msg {
  text-align: center;
  color: var(--accent-color);
  font-size: 48px;
}
