body {
  margin: 0;
  padding-top: 10em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}
body .at-top,
body .not-at-top {
  background-color: rgb(255, 255, 255);
}
body nav {
  display: flex;
  font-size: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 16.5px 8px;
  z-index: 9;
  box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);
}
body nav .nav-wrapper {
  margin: auto;
  display: flex;
}
body nav .nav-wrapper a {
  text-decoration: none;
  color: #555555;
}
body nav .nav-wrapper .left-nav a {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: lighter;
}
body nav .nav-wrapper .left-nav a:hover {
  opacity: 0.75;
}
body nav .nav-wrapper .right-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
body nav .nav-wrapper .right-nav a {
  font-size: 12px;
  padding: 15px;
}
body nav .nav-wrapper .right-nav a:hover {
  color: #e91e63;
}
body nav .nav-wrapper .right-nav a:nth-child(1):hover {
  opacity: 0.75;
}
body nav .nav-wrapper .right-nav button {
  font-size: 12px;
  color: white;
  background-color: #e91e63;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 2em;
}
body nav .nav-wrapper .right-nav button:hover {
  color: #e5e5e5;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  cursor: pointer;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323437;
  color: white;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  padding: 32px 0px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
body footer p {
  padding: 15px;
  margin: 0px;
}
body footer .sub-section {
  display: flex;
}
body footer .sub-section:nth-child(2) {
  font-size: 14px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  body nav {
    font-size: 30px;
    padding: 1.2em 0;
  }
  body nav > .nav-wrapper {
    width: 800px;
    justify-content: space-between;
  }
  body footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 9vw;
  }
  body footer .sub-section {
    flex-direction: row;
    padding-right: 18vw;
  }
}
@media (min-width: 1200px) {
  body nav > .nav-wrapper {
    width: 1150px;
  }
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
}
body form {
  min-width: 27em;
  padding-left: 0 1em;
}
body form input,
body form textarea {
  border: none;
  outline: none;
}
body form input:focus + hr,
body form textarea:focus + hr {
  border-top: 2px solid red;
}
body form input + hr {
  background-color: red;
}
body form input:focus + hr {
  background-color: red;
}
body form hr {
  margin-bottom: 2em;
}
body .submit-field input {
  font-size: 12px;
  color: white;
  background-color: #e91e63;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  padding: 1.5em 3em;
}
body .submit-field input:hover {
  color: #e5e5e5;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
  cursor: pointer;
}
body .hero-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 20vh;
  background-attachment: fixed;
}
body .hero-container .hero-wrapper .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 5vh;
  color: white;
  z-index: 5;
}
body .hero-container .hero-wrapper .hero-content iframe {
  width: 100%;
}
body .sections-container {
  position: absolute;
  top: 600px;
  width: 100%;
}
body .sections-container .sections-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  padding-bottom: 3em;
}
body .sections-container .sections-sub-container .section-wrapper .section-content i {
  font-size: 25px;
  color: #e91e63;
}
body .sections-container .sections-sub-container .section-wrapper .section-content .sub-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .sections-container .sections-sub-container .section-wrapper .section-content .sub-section .icon-pair {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}
body .sections-container .sections-sub-container .section-wrapper .section-content .sub-section p {
  padding-left: 38px;
  margin: 5px 0px;
  font-size: 14px;
  color: #999999;
  font-weight: lighter;
}

@media (max-width: 782px) {
  body .sections-container .sections-sub-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=contact.css.map */